In [1]:
import opendatasets as od
import pandas as pd
import statistics as st
import numpy as np

In [2]:
od.download("https://www.kaggle.com/datasets/uciml/iris")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:

  pritipatil07

Your Kaggle Key:

  ········

Dataset URL: https://www.kaggle.com/datasets/uciml/iris
Downloading iris.zip to .\iris

100%|██████████| 3.60k/3.60k [00:00<00:00, 781kB/s]

In [3]:
df=pd.read_csv("C:/Users/hp/Downloads/DSBDA Practicals/iris/iris.csv")

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
summary=df.groupby('Species')['SepalLengthCm'].describe()

In [6]:
print(summary)

                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [7]:
def custom_describe(x):
    mode_value=st.mode(x)
    median_value=np.median(x)
    return pd.Series([x.count(),x.mean(),x.std(),median_value,mode_value,x.min(),x.max()],
                    index=['count','mean','std','median','mode','min','max'])

In [8]:
custom_summary=df.groupby('Species')['SepalLengthCm'].apply(custom_describe)

In [9]:
print(custom_summary)

Species
Iris-setosa      count     50.000000
                 mean       5.006000
                 std        0.352490
                 median     5.000000
                 mode       5.100000
                 min        4.300000
                 max        5.800000
Iris-versicolor  count     50.000000
                 mean       5.936000
                 std        0.516171
                 median     5.900000
                 mode       5.500000
                 min        4.900000
                 max        7.000000
Iris-virginica   count     50.000000
                 mean       6.588000
                 std        0.635880
                 median     6.500000
                 mode       6.300000
                 min        4.900000
                 max        7.900000
Name: SepalLengthCm, dtype: float64

In [10]:
print("Mean Summary:")
mean_summary=df.groupby('Species')['SepalLengthCm'].mean()
print(mean_summary)

Mean Summary:
Species
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLengthCm, dtype: float64

In [11]:
print("Median Summary:")
median_summary=df.groupby('Species')['SepalLengthCm'].median()
print(median_summary)

Median Summary:
Species
Iris-setosa        5.0
Iris-versicolor    5.9
Iris-virginica     6.5
Name: SepalLengthCm, dtype: float64

In [12]:
print("Mode Summary:")
mode_summary=df.groupby('Species')['SepalLengthCm'].apply(lambda x:st.mode(x))
print(mode_summary)

Mode Summary:
Species
Iris-setosa        5.1
Iris-versicolor    5.5
Iris-virginica     6.3
Name: SepalLengthCm, dtype: float64

In [20]:
species_size_summary=df.groupby('Species').size().tolist()
print(species_size_summary)

[50, 50, 50]

In [21]:
species_statistics_summary=df.groupby('Species').describe()
print(species_statistics_summary)

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [34]:
iris_setosa=df[df['Species']=='Iris-setosa'].describe()
iris_versicolor=df[df['Species']=='Iris-versicolor'].describe()
iris_virginica=df[df['Species']=='Iris-virginica'].describe()

In [37]:
print("Iris-setosa Summary:")
print(iris_setosa)
print("\nIris-versicolor Summary:")
print(iris_versicolor)
print("\nIris-virginica Summary:")
print(iris_virginica)

Iris-setosa Summary:
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Iris-versicolor Summary:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Iris-virginica Summary:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000